
@import url("https://fonts.googleapis.com/css?family=montserrat:400,700");
body {
  font-family: "montserrat", montserrat ;
  padding-top: 70px;
}
/* 
.full-screen {
  padding: 8rem 0;
} */

div {
  height: 200px;
  width: 500px;
  /* background: black; */

  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}